@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#201b2c, #201b2c, #201b2c, #201b2c, #201b2c,#201b2c, #201b2c, #201b2c, #987e4d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 5px #000;
}

.left-login-image{ 
    width: 32vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #FFA500;
    font-weight: 1000;
    margin: 0;
    text-shadow: 2px 3px #000;
}

.textfield{
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    font-weight: 700;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #161923;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    font-size: 20px;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 50%;
    padding: 15px 0px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 18px;
    color: #2b134b;
    background: #FFA500;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ffff0052;
}

.btn-login:hover{
    background: #ffffff;
    box-shadow: 0px 10px 40px -12px #ffff0052;
}

.btn-voltar{
    margin-left: 100px;
    width: 80%;
    padding: 15px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 16px;
    color: #2b134b;
    background: #FFA500;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ffff0052;
}

.btn-voltar:hover{
    background: #ffffff;
    box-shadow: 0px 10px 40px -12px #ffff0052;
}

#trocar-info {
  text-decoration: none;
  font-size: 15px; 
  color: #ffffff;
}

#trocar-info:hover {
  color: #FFA500;
  text-decoration: underline #FFA500;
}

.control {
  text-decoration: none;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 15px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #FFA500; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #FFA500; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }
